@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*--------------- CSS RESET -----------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font: inherit
}

/*--------------- CSS VARIABLES ---------------*/

:root {
  --dark-bg: #1d2124;
  --primary: #aa4465;
  --dash-borders: #010101;
  --light-gray: #9e9fa0;
  --dull-white: #e0e0e1;
  --light-bg: whitesmoke;
  --linen: #FFEDDF; 
  --old-rose: #CC7E85;

  /* Icon color choices */
  --green: #5da283;
  --light-pink: #fc979a;
  --red: #f06a6a;
  --purple: #b36bd4;
  --blue: #4573d2;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d2124;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
#root {
  min-height: 100svh;
  background-color: var(--dark-bg);
}
